body{
  margin: 0;
  background-image: url("3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover
}

.btn,
.jumbotron{
  border-radius: 0px;
}

footer{
  margin-top: auto;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.nav{
  background:transparent;
  font-weight:bolder;
}

.nav .nav-link{
  transition: 0.5s;
  transition-timing-function: ease-in;
  border-radius:10px ;
}

.nav .nav-link:hover {
  background:rgb(255, 73, 73);
  text-decoration: none;
}

.nav .nav-link:focus {
  text-decoration: none;
}